*egg-info
SPLEAF/*
manual_tests/*
*summary*
docs/_build/*
docs/low_level_interface/SBART

*/build/*
__pycache__/

tests/*outputs/*

*.so
*.o
*.html



.idea/
src/SBART/resources/atmosphere_profiles/*
src/SBART/resources/internalSBART.db

docs/tutorials/templates/*
tests/complete/templates/*
tests/**/templates/
tests/**/*.json
to_delete/*
*.env
*.vscode
*logs*
*outputs*
*inputs*
*_Storage*

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

