include SBART/resources/*
include SBART/resources/atmosphere_profiles/*
include SBART/utils/tapas_downloader/*
include SBART/outside_tools/*
include SBART/utils/cython_codes/cubic_interpolation/__init__.py