astropy ~= 5.0.4
astroquery ~= 0.4.6
corner ~= 2.2.1
emcee ~= 3.1.1
loguru ~= 0.6.0
matplotlib ~= 3.5.1
numpy ~= 1.22
pytest
python-dateutil ~= 2.8.2
PyYAML ~= 6.0
requests ~= 2.27.1
scipy ~= 1.10
tabletexifier ~= 0.1.9
tqdm ~= 4.64.0
typing_extensions ~= 4.9
ujson ~= 5.4.0
