numpy ~= 1.22
corner ~= 2.2.1
tabletexifier ~= 0.1.9
astropy ~= 5.0.4
astroquery ~= 0.4.6
tqdm ~= 4.64.0
matplotlib ~= 3.5.1
emcee ~= 3.1.1
loguru ~= 0.6.0
PyYAML ~= 6.0
requests ~= 2.27.1
python-dateutil ~= 2.8.2
ujson ~= 5.4.0
